body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #013220;
}

.credits {
    text-align: left;
    padding: 10px;
}

.credit {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid gray;
    transition: transform 0.3s;
}

.credit:hover {
    transform: scale(1.05);
}

.btn-back {
    display: inline-block;
    background-color: #013220;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-back:hover {
    background-color: #005f46;
}